# ASP.NET Core (.NET Framework)

# Build and test ASP.NET Core projects targeting the full .NET Framework.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- sync

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: CmdLine@2
  inputs:
    script: |
      git config --global user.email "wahube@microsoft.com"
      git config --global user.name "wany"
      git add .
      git commit -m "And so, it begins."
#- bash: |
#    git push --prune https://$(GITHUB_PAT)@github.com/wandrille-hubert/githubsync.git \
#        +refs/remotes/origin/*:refs/heads/* +refs/tags/*:refs/tags/*
#  displayName: 'Copy to Github'

#steps:
- script: |
    git push https://$(GITHUB_PAT)@github.com/wandrille-hubert/githubsync.git head:refs/heads/main

